#cart_page{
    margin-bottom: 20px;
}
#cart_main{
    margin-top: 20px;
    margin-bottom: 20px;
}
#products_in_cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}
#cart_page .woocommerce-cart-form__cart-item{
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: 49%;
    padding: 10px;
    border: 1px solid #656F6B;
    border-radius: 5px;

    min-height: 320px;
    max-width: 205px;
}
#cart_page .woocommerce-cart-form__cart-item>.product-remove{
    position: absolute;
    z-index: 5;

    border: 1px solid #656F6B;
    border-radius: 50%;
    width: 20px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #656F6B;
    top: 2px;
    left: 2px;
}
#cart_page .woocommerce-cart-form__cart-item>.product-remove>a.remove{
    height: 24px;
    width: 19px;

    font-size: 18px;
}
#cart_page .woocommerce-cart-form__cart-item>.product-thumbnail{

}
#cart_page .woocommerce-cart-form__cart-item>.product-name{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #555049;

    margin-top: 10px;
}
#cart_page .woocommerce-cart-form__cart-item>.product-prices{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 5px;
}
#cart_page .woocommerce-cart-form__cart-item>.product-prices>.product-price{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #555049;
}
#cart_page .woocommerce-cart-form__cart-item>.product-prices>.product-quantity .qty{

}
#cart_page .woocommerce-cart-form__cart-item>.product-subtotal bdi{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #555049;
}

#cart_page>.container>.cart-collaterals{
    margin-top: 20px;
}
#cart_page .woocommerce-cart-form__cart-item>.product-subtotal{
    margin-top: 5px;
}
#cart_page>.container>.cart-collaterals>.cart_totals>h2{
    margin-bottom: 20px;
    display: none;
}
#cart_page>.container>.cart-collaterals>.cart_totals>table .woocommerce-shipping-totals,
#cart_page>.container>.cart-collaterals>.cart_totals>table .cart-subtotal{
    display: none;
}

@media(min-width: 576px){
    #cart_page #products_in_cart{
        justify-content: flex-start;
        gap: 10px;
    }
    #cart_page .woocommerce-cart-form__cart-item>.product-prices{
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
}
@media(min-width: 768px){
    #cart_page{
        margin-top: 30px;
    }
    #cart_page>.container>.cart-collaterals{
        display: flex;
        max-width: 450px;
    }
}