#main-slider #mainCarousel{
    height: 470px;
}
#main-slider #mainCarousel>.carousel-inner,
#main-slider #mainCarousel .slide{
    height: 100%;
}
#main-slider #mainCarousel{
    padding: 0 10px;
}

#main-slider #mainCarousel .slide{
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;
}
#main-slider #mainCarousel .slide .slide_data{
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: fit-content;
}
#main-slider #mainCarousel .slide .slide_data.darked{
    background-color: rgba(0,0,0,0.7);
    padding: 10px 15px;
}
#main-slider #mainCarousel .slide p.title{
    color: #FFF9F9;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}
.link_btn{
    display: inline-block;
    padding: 14px 31px;
    min-width: 140px;
    text-transform: uppercase;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}
#main-slider #mainCarousel .slide .link_btn{
    border: 1px solid #FFF9F9;
    color: #FFF9F9;

    max-width: fit-content;
}
.link_btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 10rem;
    z-index: -2;
}
.link_btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
.link_btn:hover:before {
    width: 100%;
}
#main-slider #mainCarousel .slide{
    background-color: #FFF9F9;
}
#main-slider #mainCarousel .slide .link_btn:hover {
    color: black;
}
#main-slider #mainCarousel .slide .link_btn:hover:before {
    background-color: #FFF9F9;
}

#another-info{
    margin-top: 50px;
}
#another-info>.container>div{
    gap: 30px;
}
#another-info>.container>div>div{
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#another-info>.container>div>div p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #555049;
}
#interior{
    overflow: hidden;
}
#interior .section_title{
    margin-top: 20px;
    margin-bottom: 20px;
}
#interior .section_title>.h4{
    margin: 0;

    font-family: 'Inter';
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #555049;
}
#interior #interior_slider{
    position: relative;
}
#interior #interior_slider>.swiper {
    width: 100%;
    height: 300px;
}
#interior #interior_slider>.swiper .swiper-slide-shadow{
    background: transparent;
}
#interior #interior_slider .slide>.slide_data{
    width: 250px;
    margin:auto;
}
#interior #interior_slider .slide>.slide_data>.mobile_slide{
    height: 335px;
    text-align: center;
}
#interior #interior_slider .slide>.slide_data>.mobile_slide>img{
    height: 100%;
    margin: auto;
}
#interior #interior_slider .slide>.slide_data>.main_slide{
    display: none;
}
#interior #interior_slider .swiper-button-prev{
    left: 0px;
}
#interior #interior_slider .swiper-button-next{
    right: 0px;
}
#interior #interior_slider .swiper-button-next:after,
#interior #interior_slider .swiper-button-prev:after{
    content: unset;
}
#news_list{
    margin-top: 10px;
    padding: 20px 0px;
    background-color: #EFEEED;
    overflow: hidden;
}
#news_list .section_title>.h5{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #555049;
}
#news_list #news_slider{
    margin-top: 20px;
}
#news_list #news_slider .slide.swiper-slide-active>a{
    display: flex;
    justify-content: center;
}
#news_list #news_slider .news_card{
    width: 320px;
    max-width: 100%;
    height: 382px;

    display: flex;
    flex-direction: column;
}
#news_list #news_slider .news_card>.news_card-image{
    height: 250px;
}
#news_list #news_slider .news_card>.news_card-image>img{
    height: 250px;
    object-fit: cover;
}
#news_list #news_slider .news_card>.news_card-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: inherit;
    background-color: #FFF9F9;

    padding: 25px 30px;
}
#news_list #news_slider .news_card>.news_card-body>.news_card-title{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #555049;
}
#news_list #news_slider .news_card>.news_card-body>span{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #656F6B;

    display: flex;
    align-items: center;
    gap: 6px;
}

@media(min-width: 768px){
    #popular-catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
        height: 270px;
    }
    #another-info>.container>div{
        gap: 5px;
    }
    #interior #interior_slider .slide>.slide_data{
        width: 325px;
    }
}
@media(min-width: 800px){
    #main-slider #mainCarousel .slide{
        padding: 0 100px;
        align-items: flex-start;
    }
}
@media(min-width: 991px){
    #popular-catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
        height: 300px;
    }
    #main-slider #mainCarousel .slide p.title{
        font-size: 46px;
        line-height: 52px;
    }
    .link_btn{
        font-size: 18px;
        line-height: 20px;
    }
    #another-info>.container>div{
        gap: 55px;
    }
    #news_list{
        margin-top: 30px;
    }
}
@media(min-width: 1024px){
    #popular-catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
        height: 345px;
    }
    #another-info>.container>div{
        justify-content: center;
        gap: 75px;
    }
    #news_list{
        margin-top: 30px;
    }
}
@media (min-width: 1200px){
    #popular-catalog .section_data .catalog-data>.catalog-data-products{
        justify-content: flex-start;
    }
    #popular-catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
        height: 395px;
    }
    #news_list {
        margin-top: 50px;
    }
    #interior{
        margin-top: 50px;
    }

    #main-slider #mainCarousel .slide p.title {
        font-size: 50px;
        line-height: 60px;
    }
    #another-info>.container>div{

    }
}
@media (min-width: 1400px){
    #main-slider{
        margin-top: 50px;
    }
    #lg-menu #lg_navbar-wrapper>ul{
        gap: 25px;
    }
    #popular-catalog{
        margin-top: 90px;
        margin-bottom: 90px;
    }

    #popular-catalog.catalog .section_data .catalog-data>.catalog-data-products>.catalog_item{
        width: 24%;
    }
    #another-info>.container>div>div p{
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }

    #interior .section_title,
    #news_list .section_title{
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #interior .section_title>.h4,
    #news_list .section_title>.h5{
        font-family: 'Inter';
        font-size: 50px;
        font-weight: 400;
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
    }
}