#main-header #mobile-sm-menu{
    padding: 16px 10px;

    position: relative;
}
#main-header #mobile_button-wrapper{
    width: 48px;
    height: 48px;
    background-color: rgba(85, 80, 73, 0.9);
    border-radius: 50%;
}
#main-header #mobile_button-wrapper>button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 4px;

    border: 0;
}
#main-header #mobile_button-wrapper>button:active,
#main-header #mobile_button-wrapper>button:focus{
    outline: none;
    box-shadow: none;
}

#main-header #mobile-sm-menu>.navbar-collapse #mobile_navigation{
    height: 0;
    width: 0;

    right: -100%;
    top: 0px;
    background-color: #fff;
    border-radius: 50%;
    border-top-right-radius: 0;

    opacity: 0;

    position: fixed;
    z-index: 5;

    transition: 0.5s ease;
}
/*#main-header #mobile-sm-menu>.navbar-collapse.collapsing #mobile_navigation,*/
#main-header #mobile-sm-menu>.navbar-collapse.show #mobile_navigation{
    display: flex;
    flex-direction: column;

    right: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

    opacity: 1;
}
#mobile_navigation #close-mobile_navigation{
    display: flex;
    justify-content: flex-end;
}
#mobile_navigation #mobile_navigation-data{
    display: flex;
    flex-direction: column;

    padding: 0 25px;
    height: 100%;
    justify-content: space-between;

    padding-bottom: 25px;
}
#mobile_navigation #mobile_navigation-data #mobile_navigation-data_menu>ul{
    display: flex;
    flex-direction: column;

    gap: 35px;
}
#mobile_navigation #mobile_navigation-data #mobile_navigation-data_menu>ul>li>a{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    padding: 0;
    color: #555049;
}
#mobile_navigation #mobile_navigation-data #mobile_navigation-data_actions{
}
#mobile_navigation #mobile_navigation-data #mobile_navigation-data_actions button#writeUsBtn{
    background-color: #656F6B;
    min-width: 150px;

    border-radius: 0;
    padding: 16px 26px;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF9F9;

    margin-left: 60px;
}

li.dropdown>ul{
    margin-top: 10px;
    border: 0;
    border-radius: 0;
    border-left: 1px solid #656F6B;
}

@media(min-width: 768px){
    #main-header #mobile-sm-menu>.navbar-collapse.show #mobile_navigation{
        width: 45%;
    }
}
@media(min-width: 992px){
    #lg-menu{

    }
    #lg-menu #lg_phone{
        gap: 10px;
    }
    #lg-menu #lg_phone #phone_link{
        align-items: center;
        gap: 10px;

        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
        color: #555049;
    }
    #lg-menu #lg_phone>div{
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: right;
        color: #656F6B;

        border-bottom: 1px dashed #656F6B;
    }
    #lg-menu #lg_navbar-wrapper>ul{
        gap: 40px;
    }
    #lg-menu #lg_navbar-wrapper>ul>li>a{
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #868482;
    }
    #lg-menu #lg_navbar-wrapper>ul>li.dropdown-item{

    }
}