
/* Каталог */
.catalog{
    margin-top: 50px;
}
.catalog .section-title .title{
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #555049;
}
.catalog .section_data{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.catalog .section_data .catalog-data{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.catalog .section_data .catalog-data>.catalog-data-products{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 10px;
}
.catalog .section_data .catalog-data>.catalog-data-products>.woocommerce,
.catalog .section_data .catalog-data>.catalog-data-products>.woocommerce>.products,
.catalog .section_data .catalog-data>.catalog-data-products>.woocommerce>.products>.products{
    width: 100%;
}
.catalog .section_data .catalog-data>.catalog-data-products>.woocommerce>.products>p,
.catalog .section_data .catalog-data>.catalog-data-products>.woocommerce>.products>form{
    display: none;
}
.catalog .section_data .catalog-data>.catalog-data-products .catalog_preloader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px
}
.catalog .catalog_filters-btn{
    margin-top: 15px;
    margin-bottom: 15px;

    gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.catalog .catalog_filters-btn:hover{
    cursor: pointer
}
.catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    height: 265px;
    width: calc(50% - 5px);
    margin: 0;
}
.catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    height: 100%;
    text-align: center;
}
.catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a>.product_name{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #555049;
}
.catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a>p.product_dimensions{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #555049;
}
.catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a span.product_price{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color:#555049;
}
.catalog .section_data .catalog-data .catalog-data-pagination>ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
}
.catalog .section_data .catalog-data .catalog-data-pagination>ul>li{
    width: 36px;
    height: 36px;
    color: #55504978;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.catalog .section_data .catalog-data .catalog-data-pagination>ul>li.pagination:hover{
    cursor: pointer;
}
.catalog .section_data .catalog-data .catalog-data-pagination>ul>li.pagination.active{
    color: #656F6B;

    border: 1px solid #656F6B;
}
.catalog .section_data .catalog-data .catalog-data-pagination>ul>li.pagination.active:hover{
    cursor: initial;
}
.catalog #catalog_filters{

    position: fixed;
    width: 0;
    height: 0;

    top: 0;
    left: -100%;
    border-radius: 50%;
    border-top-left-radius: 0;

    background-color: #fff;
    z-index: 5;
    opacity: 0;
    padding: 10px;

    -webkit-transition: all 0.4s ease;

    -o-transition: all 0.4s ease;

    transition: all 0.4s ease;
}
.catalog #catalog_filters.show{
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    opacity: 1;
}
.catalog #catalog_filters #categories{
    margin-top: 10px;
}
.catalog #catalog_filters #categories>ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 0;
}
.catalog #catalog_filters #categories>ul>li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.catalog #catalog_filters .range{
    margin-top: 12px;
}
.catalog #catalog_filters .range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}
.catalog #catalog_filters .range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #7DC3FE;
}
.catalog #catalog_filters .range-input {
    position: relative;
}
.catalog #catalog_filters .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.catalog #catalog_filters .range-input input::-webkit-slider-thumb {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 3px solid silver;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}
.catalog #catalog_filters .range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid silver;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}
.catalog #catalog_filters .range-price {
    margin: 30px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.catalog #catalog_filters .range-price input {
    width: 100px;
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    padding: 5px 7px;
}
.catalog #catalog_filters .range-price input:first-of-type {
    width: 100px;
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    padding: 5px 7px;
}

.catalog #catalog_filters #categories>ul>li.category-item{
    padding-left: 15px;
}
.catalog #catalog_filters #categories>ul>li.category-item.parent-category_item{
    padding-left: 0;

    margin-bottom: 10px;
}
.catalog #catalog_filters #categories>ul>li.category-item>a{
    color: #555049;
}
.catalog #catalog_filters #categories>ul>li.category-item.parent-category_item>a{
    color: rgba(85, 80, 73, 0.58);
}

@media(min-width: 768px){
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
        width: calc(33% - 5px);
    }
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a>img{
        height: 175px;
    }
    .catalog #catalog_filters.show{
        width: 45%;
        max-width: 300px;
    }
}
@media(min-width: 991px){
    .catalog .section-title .title{
        font-size: 34px;
        line-height: 38px;
    }
    .shop-catalog .section-title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (min-width: 1200px){
    .catalog .section_data{
        margin-top: 15px;
    }
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item{
        height: 315px;
        width: 24%;
    }
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a{
        gap: 10px;
    }
    .catalog .section-title .title{
        font-family: Inter;
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: #555049;
    }
}
@media(min-width: 1200px){
    .catalog .section_data{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .catalog #catalog_filters{
        width: 275px;
        opacity: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        position: relative;
        left: 0;

        background-color: unset;
        border-radius: 0;
    }
    .catalog #catalog_filters #catalog_filters-close{
        display: none!important;
    }
    .catalog .section_data .catalog-data .catalog-data-pagination>ul{
        width: 300px;
        margin: auto;
    }
    .catalog .catalog_filters-btn{
        display: none!important;
    }
}
@media (min-width: 1400px){
    .catalog .section_data .catalog-data{
        width: 100%;
    }
    .catalog #catalog_filters{
        width: 275px;
        opacity: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        position: relative;
        left: 0;

        background-color: unset;
        border-radius: 0;
    }
    .catalog #catalog_filters #catalog_filters-close{
        display: none!important;
    }
    .catalog .section_data .catalog-data .catalog-data-pagination>ul{
        width: 300px;
        margin: auto;
    }
    .catalog .catalog_filters-btn{
        display: none!important;
    }
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a>.product_name{
        font-size: 18px;
        line-height: 22px;
    }
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a>p.product_dimensions{
        font-size: 14px;
    }
    .catalog .section_data .catalog-data>.catalog-data-products .catalog_item>a span.product_price{
        font-size: 18px;
        line-height: 22px;
    }
}