.catalog .section_data .catalog-data>.catalog-data-products ul.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-between;

    gap: unset;
}
.catalog .section_data .catalog-data>.catalog-data-products ul.products .catalog_item{
    width: calc(50% - 5px);
    height: 315px;
}
.catalog .section_data .catalog-data>.catalog-data-products ul.products .catalog_item>a{

}
.catalog .section_data .catalog-data>.catalog-data-products ul.products .catalog_item>a>img{

}
.catalog .section_data .catalog-data>.catalog-data-products ul.products .catalog_item>a.add_to_cart_button{
    align-items: center;
    justify-content: center;
    height: auto;
}
@media(min-width: 768px){
    .catalog .section_data .catalog-data>.catalog-data-products ul.products .catalog_item{
        width: inherit;
    }
}
@media (min-width: 1200px){
    .catalog .section_data .catalog-data>.catalog-data-products ul.products .catalog_item{
        height: 315px;
    }
}